{
    "openapi": "3.0.0",
    "info": {
        "title": " API of B2NH",
        "description": "This is the documentation of Api of B2NH",
        "contact": {
            "name": "Team of B2NH",
            "email": "martin@erpicum.net"
        },
        "license": {
            "name": "GNU General Public License v3",
            "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://b2nh.tintamarre.be/api/v1/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Main"
                ],
                "summary": "Get the homepage of the API",
                "description": "Links to API resources",
                "operationId": "main",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/earthquake_events/": {
            "get": {
                "tags": [
                    "Earthquake"
                ],
                "summary": "Get Earthquake events informations",
                "description": "Get Earthquake events paginated",
                "operationId": "getEarthquakeEventsInfo",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/earthquake_events/{earthquake_event_id}": {
            "get": {
                "tags": [
                    "Earthquake"
                ],
                "summary": "Get Earthquake event information",
                "description": "Get Earthquake Event",
                "operationId": "getEarthquakeEventInfo",
                "parameters": [
                    {
                        "name": "earthquake_event_id",
                        "in": "path",
                        "description": "ID of the event Earthquake",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "3"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/tsunami_events/": {
            "get": {
                "tags": [
                    "Tsunami"
                ],
                "summary": "Get Tsunami events informations",
                "description": "Get Tsunami events paginated",
                "operationId": "getTsunamiEventsInfo",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/tsunami_events/{tsunami_event_id}": {
            "get": {
                "tags": [
                    "Tsunami"
                ],
                "summary": "Get Tsunami Event information",
                "description": "Get Tsunami event",
                "operationId": "getTsunamiEventInfo",
                "parameters": [
                    {
                        "name": "tsunami_event_id",
                        "in": "path",
                        "description": "ID of the event tsunami",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "8"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/volcanoes/": {
            "get": {
                "tags": [
                    "Volcano"
                ],
                "summary": "Get Volcanoes informations",
                "description": "Get Volcanoes paginated",
                "operationId": "getVolcanoesInfo",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/volcanoes/{volcano_id}": {
            "get": {
                "tags": [
                    "Volcano"
                ],
                "summary": "Get Volcano information",
                "description": "Get Volcano",
                "operationId": "getVolcanoInfo",
                "parameters": [
                    {
                        "name": "volcano_id",
                        "in": "path",
                        "description": "ID of the volcano",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "10102"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/volcanoes/{volcano_id}/image": {
            "get": {
                "tags": [
                    "Volcano"
                ],
                "summary": "Get an image (url) the volcano or a default one",
                "description": "Get Volcano Image",
                "operationId": "getVolcanoInfo",
                "parameters": [
                    {
                        "name": "volcano_id",
                        "in": "path",
                        "description": "ID of the volcano",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "10102"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/volcanoes_map/": {
            "get": {
                "tags": [
                    "Volcano"
                ],
                "summary": "Get Volcanoes geographic informations",
                "description": "Get Volcanoes lat/long",
                "operationId": "getVolcanoesMapPositions",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/volcano_events/": {
            "get": {
                "tags": [
                    "Eruption"
                ],
                "summary": "Get Volcano events informations",
                "description": "Get Volcano events paginated",
                "operationId": "getVolcanoEventsInfo",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/volcano_events/{volcano_event_id}": {
            "get": {
                "tags": [
                    "Eruption"
                ],
                "summary": "Get Volcano event information",
                "description": "Get Volcano Event",
                "operationId": "getVolcanoEventInfo",
                "parameters": [
                    {
                        "name": "volcano_event_id",
                        "in": "path",
                        "description": "ID of the event volcano",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "6804"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "200": {
                "description": "Success"
            },
            "403": {
                "description": "Forbidden"
            },
            "404": {
                "description": "Resource Not Found"
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "main",
            "description": "Everything about"
        }
    ]
}